@import "compass/css3/transition";
@import "compass/css3/transform";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main { display: block; }

body {
  margin: 0;
  overflow: hidden;
}

.disabled {
 pointer-events: none;
 cursor: pointer;
}