@import "base";
@import "type";
@import "colors";
@import "modules/sidebar";
@import "modules/controls";
@import "modules/alerts";
@import "modules/colophon";

html {
  background: url("../images/texture.jpg") 50% 50%;
  background-size: cover;
  height: 100%;
}

.wrap, #ui {
  overflow: auto;
}

.screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#controls, #intro, #playlist, #ui {
  @include transition(all 250ms ease-out);
}

.showing-intro {
  #controls { opacity: 0; }
  #intro { opacity: 1; }
}

.showing-menu {
  #playlist { @include transform(translate(0, 0)); }
  #ui { @include transform(translate(320px, 0)); overflow: hidden; }
  #controls { opacity: 0.3; overflow: hidden; }
}

.showing-menu.showing-intro {
  #controls { opacity: 0; }
}

#intro {
  opacity: 0;
}

