.btn-colophon {
  position: absolute;
  z-index: 199;
  bottom: 16px;
  right: 16px;
  background: rgba(#fff, 0.9);
  width: 32px;
  height: 32px;
  @include border-radius(16px);
  text-align: center;
  line-height: 32px;
  text-decoration: none;
}

.colophon {
  display: none;
  z-index: 200;
  background: rgba(#fff, 0.1);
}

.colophon-content {
  background: rgba(#fff, 0.95);
  position: relative;
  padding: 1px 16px 16px;
  margin: 32px auto;
  max-width: 480px;
  overflow: auto;
}