.scrubber {
  cursor: ns-resize;
}

#meters {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.meter {
  position: fixed;
  top: 0;
  bottom: 0;
  @include transition(all 50ms linear);
}

#progress {
  right: 0;
}

#playhead {
  left: 0;
}

@-webkit-keyframes progress-bar-stripes {
  from { background-position: 0 0; }
  to { background-position: 40px 0; }
}

@-moz-keyframes progress-bar-stripes {
  from { background-position: 0 0; }
  to { background-position: 40px 0; }
}

@-o-keyframes progress-bar-stripes {
  from { background-position: 0 0; }
  to { background-position: 40px 0; }
}

@keyframes progress-bar-stripes {
  from { background-position: 0 0; }
  to { background-position: 40px 0; }
}